:root {
  --transparent-bg: rgba(0, 0, 0, 0.6);
  --transparent-bg-selection: rgb(255, 215, 0, 0.6);
  --text-clr: rgb(255, 255, 255);
  --text-hover: rgb(255, 115, 115);
}

* {
  font-family: "Press Start 2P", cursive;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: scroll;

  color: var(--text-clr);
  background-color: gray;
  background-image: url("./assets/background2.png");
  background-position: center;
  background-size: cover;
}

.prompt-text {
  font-size: 3.5rem;
}

.game-window {
  width: 1280px;
  height: 768px;

  position: relative;
  box-shadow: 5px 10px 20px hsl(0, 0%, 0%, 0.7);

  border: 7px solid;
  border-image-source: linear-gradient(45deg, white, black);
  border-image-slice: 1;
}

.game-prompt {
  position: absolute;
  top: 0;
  width: 100%;
  height: 640px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;

  background-color: var(--transparent-bg);
}

.lives-remaining {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 128px;

  background-color: var(--transparent-bg);
}

.enemies-killed {
  position: absolute;
  top: 0;
  left: 500px;
  height: 64px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 1em 0 1em;
  background-color: var(--transparent-bg);
}

.deployment-points {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  position: absolute;
  bottom: 128px;
  right: 0;
  width: 128px;

  background-color: var(--transparent-bg);
}

.detailed-info {
  position: absolute;
  top: 0;
  width: 320px;
  height: 638px;
  background-color: var(--transparent-bg);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.name-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.character-selection {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  position: absolute;
  bottom: 0;
  height: 128px;
  width: 100%;

  background-color: var(--transparent-bg);
}

.character-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  width: 100%;

  border: 3px solid white;
  border-right: none;
}

.character-card:last-child {
  border-right: 3px solid white;
}

.character-card[aria-selected="true"] {
  background-color: var(--transparent-bg-selection);
}

.card-info {
  position: relative;

  width: 100%;
}

.info {
  top: 5px;
  left: 5px;
  position: absolute;
  cursor: pointer;
}

.weapon {
  top: 5px;
  right: 35px;
  position: absolute;
}

.deploy-cost {
  top: 9px;
  right: 5px;
  position: absolute;
  margin: 0;

  font-size: 0.8rem;
}

/* Images */
.icon-img {
  height: 20px;
}

.portrait-img {
  height: 64px;
}

.atk-range-img {
  height: 128px;
}

.series-img {
  height: 50px;
}

.detailed-portrait {
  height: 128px;
}

.defeat-img {
  height: 128px;
}

img {
  height: 64px;
}

/* Buttons */
.btn-group {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 64px;
  padding: 0 5px 0 5px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background-color: var(--transparent-bg);
}

button {
  color: var(--text-clr);
  background: transparent;
  border: none;
}

.help-btn {
  margin: 0 5px 0 5px;
  font-size: 2rem;
  cursor: pointer;
}

.help-btn:hover {
  color: var(--text-hover);
}

.pause-img {
  margin: 0 5px 0 5px;
  height: 48px;
  background: transparent;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  font-size: 1.2rem;
  color: var(--text-clr);
  background: none;
  border: none;

  cursor: pointer;
}

.close-btn:hover {
  color: var(--text-hover);
}
